<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- Bootstrap Styling --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!-- Application custom stylesheet --}}
    <link rel="stylesheet" href="../../public/stylesheets/style.css" type="text/css" />
    <title>News Scraper</title>
</head>

<body class="bg-light">

    {{!-- Bootstrap Nav-bar --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">NYT NEWS SCRAPE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto mr-3">
                <li class="nav-item mr-3">
                    <a class="nav-link active" id="scraped-nav-link" href="/">Scraped</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="saved-nav-link" href="/saved">Saved</a>
                </li>
            </ul>
        </div>
    </nav>

    {{!-- Handlebars --}}
    {{{ body }}}

    {{!-- jQuery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{!-- Bootstrap logic --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {{!-- Handles active link for nav-bar --}}
    <script>
        if (window.location.pathname == '/' ) {
            $('#saved-nav-link').removeClass('active')
            $('#scraped-nav-link').addClass('active')
        } else if (window.location.pathname == '/saved') {
            $('#scraped-nav-link').removeClass('active')
            $('#saved-nav-link').addClass('active')
        }
    </script>
    {{!-- Moment js --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>    {{!-- Front-end logic --}}
    <script src="../../public/javascripts/logic.js"></script>
    
</body>

</html>