<div class="container h-100">
  <div class="row align-items-center h-100 mt-5">
    <div class="col-6 mx-auto text-align-center">
      <h1 class="text-center">404</h1>
      <a href="/"><img class="img-fluid" src="https://bit.ly/2VAoDp8" alt="for shame"></a>
      <h4 class="text-center mt-3">Sometimes things don't work out</h4>
      <h6 class="text-center mt-2">(click the bear to go back)</h6>
    </div>
  </div>
</div>
