<div class="container-fluid h-100" style="max-width: 900px">
  <div class="row justify-content-left h-100 p-4">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
      <div id="messaging-container"></div>
      <div id="btn-container"></div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left pl-5">
      <div class="loader"></div>
      <div id="news-container"></div>
    </div>
  </div> 
</div>
